/*.pagecontainer {
	background: rgba(76, 175, 80, 0.3);
}*/

.menuspace {
	margin-left: 5px;
	margin-right: 6%;
	margin-top: 5px;
	margin-bottom: -68px;
	padding: 1px 1px 30px 1px;
	/*background: rgba(76, 175, 80, 0.3);*/
	border-width: 2px;
	border-style: solid;
	width:55%;
	float: right;
}

ul.menu {
	margin-top: 32px;
	margin-right: 32%;
	margin-bottom: 3px;
	margin-left: inherit;
	padding-top: 7px;
	padding-bottom: 7px;
	/*padding-left: 10px;*/
	width: 80%;
	list-style-type: none;
	float: right;
}

li.mitem {
	margin-top: -8px;
	margin-bottom: -8px;
	margin-left: 10px;
	padding: 2px 2px 2px 2px;
	background-color: black;
	float: right;
	border-style: solid;
	border-width: 1px;
	font-family: verdana;
	font-size: 13px;
}

li.mitem a {
	color: white;
	text-decoration: none;
}

li.mitem a:hover {
	color: rgb(76, 175, 80);
}


.mast {
	margin-left: 5%;
	margin-right: 10px;
	padding-top: 5px;
	float: left;
	width: 50%;
	/*background: rgba(76, 175, 80, 0.3);*/
	text-align: center;
	border-width: 2px;
	border-style: solid;
}

.mast p.title {
	font-family: impact;
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.mast p.subtitle {
	font-family: arial;
	font-size: 20px;
	margin-top: 5px;
}

.aboutme {
	margin-top: 30px;
	margin-right: 6%;
	margin-left: 5%;
	padding-right: 15px;
	padding-left: 15px;
	width: 51%;
	clear: left;
	float: left;
	background: rgba(76, 175, 80, 0.3);
}

.aboutme h1 {
	margin: 15px 5px 5px;
	font-family: "lucida console";
}

hr.hrabout {
	border-top: 2.5px solid rgb(163, 214, 167);
	width: auto;
}

.aboutme img {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.aboutme p {
	font-family: verdana;
}

.connect {
	float: left;
	margin-top: 36px;
	height: 200px;
	width: 200px;
	background: rgba(76, 175, 80, 0.3);
}

.connect p {
	font-family: "lucida console";
	font-size: 18px;
	text-align: center;
}

hr.hrconnect {
	border-top: 2.5px solid rgb(163, 214, 167);
	margin-top: -10px;
	width: 150px;
}

.connectimg {
	padding-left: 20px;
}

.connectimg img {
	height: 32px;
	width: 32px;
	margin-left: 12px;
}
