body {
	margin-top: 25px;
	background-image: url("../images/bg.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
}

.menuspace {
	margin-left: 5px;
	margin-right: 6%;
	margin-top: 5px;
	margin-bottom: -68px;
	padding: 1px 1px 30px 1px;
	background: rgba(207,91,66,.8);
	border-style: solid;
	border-width: 2px;
	width:50%;
	float: right;
}

ul.menu {
	margin-top: 32px;
	margin-right: 30%;
	margin-bottom: 3px;
	margin-left: inherit;
	padding-top: 7px;
	padding-bottom: 7px;
	/*padding-left: 10px;*/
	width: 80%;
	list-style-type: none;
	float: right;
}

li.mitem {
	margin-top: -8px;
    margin-bottom: -8px;
    margin-left: 10px;
    padding: 8px 2px 2px 2px;
    height: 23px;
    width: 60px;
    background-color: rgb(255,255,255);
    float: right;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

li.mitem a {
	color: rgb(0,0,0);
	text-decoration: none;
}

li.mitem a:hover {
	color: rgb(207,91,66);
}


.mast {
	margin-left: 5%;
	margin-right: 10px;
	padding-top: 5px;
	float: left;
	width: 50%;
	background: rgba(228,144,84,.8);
	text-align: center;
	border-style: solid;
	border-width: 2px;
	
}

.mast p.title {
	font-family: "franklin gothic medium";
	font-size: 40px;
	letter-spacing: 3px;
	margin-top: 15px;
	margin-bottom: -12px;
}

.mast p.subtitle {
	font-family: arial;
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 4px;
}

.main {
	clear:left;
	float:left;
	margin: 30px .25% 30px 5%;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background: rgba(125,148,154,.9);
	border-style: solid;
	border-width: 2px;
}

.main h1 {
	margin: 15px 5px 5px;
	font-family: "franklin gothic medium";
	font-size: 30px;
	letter-spacing: 3px;
}

.aboutme {
	width: 51%;
}

.main hr {
	border: 1px solid rgb(0,0,0)/*rgb(163, 214, 167)*/;
	width: auto;
}

.aboutme img {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 257px;
	width: 193px;
	border: 2px solid rgb(0,0,0);
}

.aboutme p {
	font-family: arial;
}

.gallery {
	overflow: auto;
}

.box {
	width: 400px;
	height: 225px;
	margin: 3px;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.box:hover {
	background-color: rgba(228,144,84, 1);
}

.box:hover img {
	opacity: 0.5;
}

.box:hover .label1 {
	z-index: 0;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
	float:left;
}

.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6 a {
	text-decoration: none;
	color: rgb(0,0,0);
}

.box1 {
	/*clear:left;*/
}

.box4 {
	clear: left;
}

/*label and hover effect for gallery items*/
/*label1*/
.box:hover .label1 {
	z-index: 0;
}
.label1 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label1 p {
	line-height: 80px;
}

/*label2*/
.box:hover .label2 {
	z-index: 0;
}
.label2 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label2 p {
	line-height: 80px;
}

/*label3*/
.box:hover .label3 {
	z-index: 0;
}
.label3 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label3 p {
	line-height: 80px;
}

/*label4*/
.box:hover .label4 {
	z-index: 0;
}
.label4 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label4 p {
	line-height: 80px;
}

/*label5*/
.box:hover .label5 {
	z-index: 0;
}
.label5 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label5 p {
	line-height: 80px;
}

/*label6*/
.box:hover .label6 {
	z-index: 0;
}
.label6 {
	width: 400px;
	height: 80px;
	position: relative;
	top: -147px;
	left: 0px;
	background-color: rgba(255,255,255,.85);
	font-family: verdana;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2px;
	z-index: -1;
}
.label6 p {
	line-height: 80px;
}

.contactform {
	width: 50%;
}

.contactform label {
	font-family: arial;
}

input[id=name], input[id=email], textarea[id=message] {
    width: 100%;
    margin: 8px 0px 14px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    /*-webkit-transition: 0.5s;*/
    transition: 0.5s;
    outline: none;
    font-family: arial;
}

input[id=name], input[id=email] {
	padding: 12px 20px;
}

textarea[id=message] {
	padding: 20px 20px;
	height: 200px;
	box-sizing: border-box;
	resize: none;
}

input[id=name]:focus, input[id=email]:focus, textarea[id=message]:focus  {
    border: 2px solid rgb(0,0,0);
 }

input[type=submit] {
	font-family: arial;
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,0);
	width: 67.63636px;
    height: 36.636359999999996px;
	padding: 4px 2px 2px 2px;
}

input[type=submit]:hover {
	color: rgb(207,91,66);
}

.connect {
	/*position: absolute;
	right: 7px;
	top: 161px;*/
	float: right;
	margin-top: 30px;
	margin-right: 6%;
	margin-bottom: 10px;
	height: 200px;
	width: 200px;
	background: rgba(125,148,154,.9);
	border-style: solid;
	border-width: 2px;
}

.connect p {
	font-family: arial;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
}

.connect hr {
	border: 1px solid black/*rgb(163, 214, 167)*/;
	margin-top: -14px;
	margin-bottom: 13px;
	width: 150px;
}

.connectimg {
	padding-left: 20px;
}

.connectimg img {
	height: 32px;
	width: 32px;
	margin-left: 12px;
}

.footer {
	clear: both;
	margin: 10px auto;
	width: 90%;
	height: 30px;
	background: rgba(125,148,154,.8);
	border-style: solid;
	border-width: 2px;
}

.footer p {
	margin-top: 10px;
	text-align: center;
	font-family: arial;
	font-size: 9px;
}

.leaf {
	position: fixed;
	left: 1380px;
	top: 338px;
	z-index: 1;
}